#addQuestion label{
  display: block;
  margin: 10px auto;
}

#addQuestion input[type="text"] {
  display: block;
  margin: 10px auto;
  min-width: 200px;
}

#addQuestion textarea {
  display: block;
  margin: 10px auto;
  width: 200px;
  max-width: 200px;
}

#addQuestion select {
  display: block;
  margin: 10px auto;
}

#addQuestion > #submitQuestion {
  margin-top: 20px;
}

#addQuestion input[type="radio"] {
  display: inline;
  width: auto;
}
