body{
    background: #E1E2E1;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

h1{
    font-weight: 400;
}

#container{
    border-radius: 2px;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.2);
    padding-bottom: 20px;
    background: #fff;
    max-width: 800px;
    height: auto;
    margin: 50px auto;
    position: relative;
    border-top: 4px solid #7f4cc1;
}

.btn {
  margin-top: 20px;
  border: 2px solid #40127c;
}

.btn:hover {
  background-color: #f0e5ff;
  border-color: #7f4cc1;
}

@media (max-width: 576px) {
    #container{
      margin: 0 auto;
    }
}
