.modal{
  width: 100%;
  background-color: white;
  display: block;
  position:absolute;
  top: 0;
  left: 0;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s linear, visibility 0.2s linear;
  padding: 20px;
  padding-right: 50px;
  text-align: left;
  overflow: visible;
}

.modal i {
  position: absolute;
  top:20px;
  right:20px;
  font-size: 30px;
  cursor: pointer;
  transition: all 0.1s ease-in;
  color: black;
}

.modal i:hover{
  color: #53565b;
}

.modal:hover {
  opacity: 0.5;
}

h1 {
  font-size: 20px;
}
